---
import type { Venue } from "../types/Venue";
import type { Time } from "../utils/time";
import { subtractTime } from "../utils/time";
export interface Props {
  start: Time;
  end: Time;
}

const times: Time[] = ['08:00', '09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00']
const venues: Venue[] = ['amfiet', 'sosialsonen', 'kram', 'lille', 'arbeidssone'];
const { start, end } = Astro.props;
---

<div class="schedule">
    <div class="schedule-venues">
		<div
			class="schedule-venue"
			style=`--start-minute: 1; grid-column: time; grid-row: 1; z-index: 1`

		  >

		  </div>
		{venues.map((venue) => <div
			class="schedule-venue"
			style=`--start-minute: 1; grid-column: ${venue}; grid-row: 1; z-index: 1`

		  >
		  <div class="schedule-venue-content">
			{venue}
			</div>
		  </div>
		)}
	</div>
    <div class="schedule-grid">
		
		{times.map((time) => <div
			class="schedule-time"
			style=`--start-minute: ${subtractTime(start, time)};`
		  >
			{time}
		  </div>
		)}
      <slot />
  </div>
</div>

<style>
  .schedule {
    --venue-width: 280px;
    --schedule-start-offset: 1;
    --time-indicator-offset: 5rem;
	--scroll-padding: 1rem;
	--one-minute-equals: 0.35rem;
    display: grid;
    padding: 0;
    overflow: scroll;
    min-height: 100vh;
    scroll-snap-type: x proximity;
	scroll-padding: var(--scroll-padding);
	padding-bottom: 10rem;
	}
	.schedule::-webkit-scrollbar{
    display: none;
  }

  .schedule-time {
	display: grid;
	align-items: center;
	justify-content: center;
    text-align: start;
	height: max-content;
    padding: 0.5rem 0rem;
    grid-column: time;
    grid-row: var(--start-minute);
	position: relative;
	z-index: 10;
  }

  .schedule-grid, .schedule-venues{
	display: grid; 
	grid-template-areas: "time amfiet sosialsonen kram lille arbeidssone";
    grid-template-columns: var(--time-indicator-offset) repeat(5, var(--venue-width));
	padding-right: var(--venue-width);
	margin: 0 auto;
  }
  .schedule-grid {
	--lines-color: #474295;
    grid-auto-rows: var(--one-minute-equals);
    height: auto;
    gap: 0;
	max-width: max-content;
    margin: 0 auto;
	background-image: linear-gradient(180deg, var(--lines-color), var(--lines-color) 1px, transparent 1px, transparent 100%), linear-gradient(90deg,  var(--lines-color), var(--lines-color) 1px, transparent 1px, transparent 100%);
	background-size: var(--venue-width) calc(var(--one-minute-equals) * 15);
	background-repeat: repeat;
	background-position-y: -1px;
	background-position-x: calc(var(--time-indicator-offset));
	border: 1px solid var(--lines-color);
	/* background-position-x: calc(var(--time-indicator-offset) - 0.5rem); */
  }
  .schedule-venue{
	text-transform: capitalize;
	
	position: sticky;
	top:0;
	height: max-content;
	scroll-snap-align: start;
  }
  .schedule-venue-content{
	padding: 0.5rem;
  }
</style>
